---
- name: Create user {{ certbot_user }}
  become: true
  ansible.builtin.user:
    name: "{{ certbot_user }}"
    create_home: false
    comment: "{{ certbot_user }} user with no shell access"
    shell: /bin/false

- name: Create config directory {{ certbot_config_dir }}
  become: true
  ansible.builtin.file:
    path: "{{ certbot_config_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ certbot_user }}"
    group: "{{ certbot_user }}"

- name: Create docker compose config
  become: true
  ansible.builtin.template:
    src: "templates/docker-compose.yml.j2"
    dest: "{{ certbot_config_dir }}/docker-compose.yml"
    owner: "{{ certbot_user }}"
    group: "{{ certbot_user }}"
    mode: "0644"
  notify: "Restart {{ certbot_service_name }}"

- name: Create certbot .env file
  become: true
  ansible.builtin.template:
    src: templates/certbot.env.j2
    dest: "{{ certbot_config_dir }}/certbot.env"
    group: "{{ certbot_user }}"
    owner: "{{ certbot_user }}"
    mode: "0400"
  notify: "Restart {{ certbot_service_name }}"

- name: Create letsencrypt config directory {{ item }}
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: "{{ certbot_user }}"
    group: "{{ certbot_user }}"
  with_items:
    - "{{ certbot_letsencrypt_config_dir }}/renewal"
    - "{{ certbot_letsencrypt_config_dir }}/live"
    - "{{ certbot_letsencrypt_config_dir }}/archive"

- name: Create cli.ini
  become: true
  ansible.builtin.template:
    src: templates/cli.ini.j2
    dest: "{{ certbot_letsencrypt_config_dir }}/cli.ini"
    group: "{{ certbot_user }}"
    owner: "{{ certbot_user }}"
    mode: "0400"
  notify: "Restart {{ certbot_service_name }}"

- name: Create service file for {{ certbot_service_name }}
  become: true
  ansible.builtin.template:
    src: "templates/certbot.service.j2"
    dest: /etc/systemd/system/{{ certbot_service_name }}.service
    owner: root
    mode: "0644"
  notify:
    - "Restart {{ certbot_service_name }}"

- name: Create systemd timer file for {{ certbot_service_name }}
  become: true
  ansible.builtin.template:
    src: "templates/certbot.timer.j2"
    dest: /etc/systemd/system/{{ certbot_service_name }}.timer
    owner: root
    mode: "0644"
  notify:
    - "Start {{ certbot_service_name }} timer"


- name: Copy deploy hook script
  become: true
  ansible.builtin.copy:
    src: "{{ certbot_deploy_hook_script }}"
    dest: "{{ certbot_letsencrypt_config_dir }}/deploy-hook.sh"
    group: "{{ certbot_user }}"
    owner: "{{ certbot_user }}"
    mode: "0755"
  when: certbot_deploy_hook_script is defined

- name: Create systemd path unit for certificate monitoring
  become: true
  ansible.builtin.template:
    src: "templates/certbot-deploy-hook.path.j2"
    dest: /etc/systemd/system/{{ certbot_service_name }}-deploy-hook.path
    owner: root
    mode: "0644"
  when: certbot_deploy_hook_script is defined
  notify:
    - "Reload systemd"
    - "Enable and start certbot deploy hook path"

- name: Create systemd service unit for deploy hook execution
  become: true
  ansible.builtin.template:
    src: "templates/certbot-deploy-hook.service.j2"
    dest: /etc/systemd/system/{{ certbot_service_name }}-deploy-hook.service
    owner: root
    mode: "0644"
  when: certbot_deploy_hook_script is defined
  notify:
    - "Reload systemd"
